@import url("https://fonts.googleapis.com/css2?family=Acme&family=Akaya+Telivigala&display=swap");

$ffp: "Akaya Telivigala", cursive;
$ffs: "Acme", sans-serif;

body {
  min-height: 300px;

  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
  /*background: linear-gradient(to right, #b92b27, #1565c0);*/
  background-image: url("img/bakery.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

nav {
  margin-top: -6em;
  padding: 0;
}
ul {
  margin: 100px auto 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  max-width: 600px;
}

@media screen and (min-width: 600px) {
  ul {
    flex-direction: row;
  }
}

li {
  position: relative;
  padding: 15px 0;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding-bottom: 0.4em;
  margin: 0;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #fb8085;
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
  transform: scale(0, 1);
  transform-origin: center top;
  transition-duration: 0.25s;
}

a:hover::after {
  width: 100%;
  left: 0;
}
/**/

a:hover {
  color: #fb8085;
}

a:hover::after {
  transform: scale(1, 1);
}

.flowers_line {
  position: absolute;
  overflow: auto;
  margin-top: 17em;
  margin-left: 40em;
}
.header {
  height: 100%;
  width: 100%;

  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 300;
    font-size: 6rem;

    margin-bottom: 2.8em;
    font-family: $ffp;
    margin-top: 3em;
    letter-spacing: 0.2em;
    color: transparent;
    background-image: linear-gradient(180deg, #f9c1b1 0%, #fb8085 74%);
    background-clip: text;
  }

  h3 {
    font-family: $ffs;
    font-size: 1.5em;
    margin-bottom: 5em;
  }
}

.scene {
  width: 100vw;
  height: 50vh;
  bottom: -1.5em;
}

.wave1 {
  margin-left: 25em;
}
.wave2 {
  margin-right: 20em;
}

.social {
  color: black;
  cursor: pointer;
  list-style: none;
  margin-top: -8em;
  padding: 0em 0em 0em 1em;
  justify-content: space-between;
  position: relative;
  float: right;
}

.social:hover {
  color: #fb8085;
}

.logo {
  padding: 1em 0em 0em 1em;
}
